
.git
.gitignore
.github

__pycache__
*.pyc
*.pyo
*.pyd


venv/
env/
.env


pretrained_models/
CosyVoice2-0.5B/
backend/CosyVoice/pretrained_models/
checkpoints/
backend/CosyVoice/pretrained_models/
backend/pretrained_models/

*.md
*.mp4
*.wav
Dockerfile
mapping.json