[submodule "backend/CosyVoice"]
	path = backend/CosyVoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "eval/titw-test"]
	path = eval/titw-test
	url = https://huggingface.co/datasets/jzhe727/titw-test
[submodule "eval/versa"]
	path = eval/versa
	url = https://github.com/wavlab-speech/versa.git
[submodule "wildtts_web_frontend"]
	path = wildtts_web_frontend
	url = https://github.com/jzhe727/wiltdtts_web_frontend.git
